.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper:not(:last-child) {
  margin-right: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  margin-top: 6px;
}