.text-xs {
  font-size: 12px;
}

.text-xs-bold {
  font-size: 12px;
  font-weight: 700;
}

.text-xs-header {
  font-size: 18px;
  font-weight: 700;
}


.text-s {
  font-size: 16px;
}

.text-s-bold {
  font-size: 16px;
  font-weight: 700;
}

.text-s-header {
  font-size: 24px;
  font-weight: 700;
}


.text-m {
  font-size: 18px;
}

.text-m-bold {
  font-size: 18px;
  font-weight: 700;
}

.text-m-header {
  font-size: 36px;
  font-weight: 700;
}


.text-l {
  font-size: 24px;
}

.text-l-bold {
  font-size: 24px;
  font-weight: 700;
}

.text-l-header {
  font-size: 48px;
  font-weight: 700;
}


.text-xl {
  font-size: 36px;
}

.text-xl-bold {
  font-size: 36px;
  font-weight: 700;
}

.text-xl-header {
  font-size: 64px;
  font-weight: 700;
}