@import "./vars";

// TODO: implement adaptability

.text-xs {
  font-size: var(--font-xs-laptop);
}

.text-xs-bold {
  font-size: var(--font-xs-laptop);
  font-weight: 700;
}

.text-xs-header {
  font-size: var(--font-xs-header-laptop);
  font-weight: 700;
}

.text-s {
  font-size: var(--font-s-laptop);
}

.text-s-bold {
  font-size: var(--font-s-laptop);
  font-weight: 700;
}

.text-s-header {
  font-size: var(--font-s-header-laptop);
  font-weight: 700;
}

.text-m {
  font-size: var(--font-m-laptop);
}

.text-m-bold {
  font-size: var(--font-m-laptop);
  font-weight: 700;
}

.text-m-header {
  font-size: var(--font-m-header-laptop);
  font-weight: 700;
}

.text-l {
  font-size: var(--font-l-laptop);
}

.text-l-bold {
  font-size: var(--font-l-laptop);
  font-weight: 700;
}

.text-l-header {
  font-size: var(--font-l-header-laptop);
  font-weight: 700;
}

.text-xl {
  font-size: var(--font-xl-laptop);
}

.text-xl-bold {
  font-size: var(--font-xl-laptop);
  font-weight: 700;
}

.text-xl-header {
  font-size: var(--font-xl-header-laptop);
  font-weight: 700;
}
