.header {
  height: 72px;
  background: var(--surface);
  box-shadow: var(--box-shadow-default-s);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.logoWrapper {
  width: 152px;
  height: 32px;
  margin-right: 40px;
}