.notice {
  display: inline-flex;
  align-items: center;
  border-radius: var(--rounded-sm);
  color: var(--on-primary);

  &.small {
    padding: 3px 8px;
  }

  &.medium {
    padding: 4px 8px;
  }
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.grayscale {
  background: var(--grayscale-lightest);
  color: var(--main-on-surface);
}

.success {
  background: var(--pallete-success);
}

.error {
  background: var(--pallete-error);
}

.text {
  padding: 0 4px;
}

.icon {
  &.small {
    width: 18px;
    height: 18px;
  }

  &.medium {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
