@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "./styles/vars";
@import "./styles/text";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--on-surface);
  background: var(--background);
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: var(--container-offset);
  padding-right: var(--container-offset);
  max-width: var(--container-width);
}

.page-container {
  flex: 1;
}

.btn-reset {
  border: none;
  font-family: inherit;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

// TODO: clean menu styles from globals

.catalog-menu {
  opacity: 0;
  visibility: hidden;
  transition: display var(--duration);
}

.catalog-menu:hover {
  opacity: 1;
  visibility: visible;
}

.catalog-btn:hover + .catalog-menu {
  opacity: 1;
  visibility: visible;
}