.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-sm);

  &.orange {
    background: var(--main-primary);

    &.muted {
      background: var(--main-primary-muted);
      color: var(--main-primary);
    }
  }

  &.green {
    background: var(--main-secondary);

    &.muted {
      background: var(--main-secondary-muted);
      color: var(--main-secondary);
    }
  }

  &.light {
    background: var(--grayscale-lightest);
    color: var(--grayscale-hardest);

    &.muted {
      background: var(--main-surface);
      color: var(--grayscale-light);
    }
  }

  &.error {
    background: var(--pallete-error);

    &.muted {
      background: var(--pallete-error-muted);
      color: var(--pallete-error);
    }
  }
}

.large {
  padding: 16px;
  font-size: 24px;
}

.medium {
  padding: 8px;
  font-size: 16px;
}

.small {
  padding: 8px;
  font-size: 12px;
}

.chevronRight {
  transform: rotate(180deg);
}