.footer {
  background-image: url('/footer-bg.png');
  height: 126px;
  background-color: var(--footer-background);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logoWrapper {
  width: 64px;
  height: 44px;
  margin-right: 40px;
}