.wrapper {
  display: flex;
}

.star {
  width: 24px;
  height: 24px;
  color: var(--grayscale-light);
  
  &.selected {
    color: var(--primary);
  }
}

.star:not(:last-child) {
  margin-right: 4px;
}